
.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
  border: 5px solid black;
  border-radius: 10px;
}

.box:active {
  width: 300px;
  background-color: royalblue;
}

input {

}

input:focus {
  background-color: orange;
}